*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins',sans-serif;

}
html{
    scroll-behavior: smooth;
}
nav{
    display: flex;
    width: 100%;
    padding: 8px;
    height: 4rem;
    align-items: center;
    background-color: #5d4954;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 99999999999;

}
nav h2{
    color: rgb(224, 224, 224);
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav ul li{
    list-style: none;
}
nav ul{
    display: flex;
    gap: 2rem;
    transition: 0.6s;
    padding: 2px;
}
ul li a{
    text-decoration: none;
    color: rgb(224, 224, 224);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
}
.burger{
    display: flex;
    flex-direction: column;
    gap: 2px;
    display: none;
 
}
.burger div{
 width:14px;
 height: 2px;
 background-color:  rgb(224, 224, 224);
}
nav :is(ul li) a:hover{
background-color: #fff;
color: #5d4954;
padding: 6px;
border-radius: 2px;
}
body{
    overflow-x: hidden;
}


.hero{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
     align-items: center;
    background-size: cover;
    height: 70vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('./assets/imge/cover.avif');
}
.hero .profile .img img{
    border-radius: 50%;
    width:  10rem;
    border: solid 3px #5d4954;
}
.img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
}
.profile{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #cfcfcf;
}


.profile ul{
    list-style: none;
    display: flex;
    gap: 10px;
}
.profile button{
    border: none;
    padding: 17px;
    border-radius: 5px 3px;
    font-weight: bold;
   background-color:  #5d4954;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 2px;
  
}
.profile button:active{
    transform: scale(1.03);
}
.links  li a i{
    color: #fff;
    font-size: 20px;
}
.name h4,p{
  font-size: 1.4rem;
}

.about{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #222;
    color: #cfcfcf;
}
.about h2{
  padding: 10px;
  text-align: center;
  border-bottom: solid 2px #5d4954;
}
.about .img_about{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.img_about .content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
    padding: 10px;
}
.content button{
    padding: 10px;
    background-color: #5d4954;
    color: #cfcfcf;
    border-radius: 10px;
    border: none;
    width:10rem;
    transition: 0.5s;
  }
  .content button:hover{
    transform: translateY(5%);
  }

  .img_about img{
    width: 20%;
  }

  .img_about img{
    border-radius: 20px;
  
  }
  img{
    transition: 0.6s;
  }
 img:hover{
    transform: translateY(5%);
  }

/* mobile view */
@media  (width <= 468px)
{

   .nav_links{
        position: absolute;
        height: 20vh;
        background-color: #5d4954;
        width: 100%;
        right: 0;
        top: -20vh;
        justify-content: center;
        align-items: center;
        display: grid;
        gap: 4px;
        transition: tranform 0.5 ease-in;
        z-index: -1;
     
    }
    nav{
        height:5rem;
    }
  .burger{
    display: flex;
    gap:4px;

  }
  .burger div{
    width: 20px;
  }
  .about{
    display: grid;
    place-items: center;
    padding: 10px;
  }
  .about .img_about{
    display: grid;
    place-items: center;
    padding: 10px;
    gap: 1rem;
  }
  .img_about img{
    border-radius: 20px;
    width: 50%;
  }
  .content .skils{
    display: flex;
    gap: 1rem;
  }
  .skils img{
    width: 50px;
  }
  .about h2{
    padding: 10px;
    text-align: center;
    border-bottom: solid 2px #5d4954;
  }
 .img_about .content {
    display: grid;
    place-items: center;
    gap: 1rem;
    width: 100%;
  }
  .content button{
    padding: 10px;
    background-color: #5d4954;
    color: #cfcfcf;
    border-radius: 10px;
    border: none;
    letter-spacing: 2px;
    transition: 0.5s;
  }
  .content button:hover{
    transform: translateY(5%);
  }
  .profile{
    margin-top: 5rem;
  }
  

}

.navActive{
    top:11.5vh;
    z-index: 1;
}

